/*----------라틴----------*/
/*보통*/
@import url("https://use.typekit.net/xdb1kdt.css");
/**대문자, 소문자**/

  
/*----------한글----------*/
/*Light*/
@font-face {
    font-family: JikjiGothic;
    src: url("../fonts/J직지고딕-Regular.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+3131-3163, U+AC00-D7A0;
}

/*Regular*/
@font-face {
    font-family: JikjiGothic;
    src: url("../fonts/J직지고딕-Medium.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+3131-3163, U+AC00-D7A0;
}

/*Bold*/
@font-face {
    font-family: JikjiGothic;
    src: url("../fonts/J직지고딕-Bold.woff") format('woff');
    font-weight: Bold;
    font-style: normal;
    unicode-range: U+3131-3163, U+AC00-D7A0;
}
  
/*----------기호----------*/
/*Light*/
@font-face {
    font-family: JikjiGothic;
    src: url("../fonts/J직지고딕-Regular.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+AC00-D7A0;
}

/*Regular*/
@font-face {
    font-family: JikjiGothic;
    src: url("../fonts/J직지고딕-Medium.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A0;
}

/*Bold*/
@font-face {
    font-family: JikjiGothic;
    src: url("../fonts/J직지고딕-Bold.woff") format('woff');
    font-weight: Bold;
    font-style: normal;
    unicode-range: U+AC00-D7A0;
}
